<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="OpenJDK8 test suite" verbose="1" >
  <test name="java util stream test">
    <!-- classes have to be provided one at a time because "packages" doesn't work on Android
    -->

   <classes>
     <!--
      <class name="org.openjdk.tests.java.lang.invoke.DeserializeMethodTest" />
      <class name="org.openjdk.tests.java.lang.invoke.SerializedLambdaTest" />
      -->

      <class name="org.openjdk.tests.java.util.FillableStringTest" />
      <class name="org.openjdk.tests.java.util.MapTest" />
      <class name="org.openjdk.tests.java.util.NullArgsTestCase" />
      <class name="org.openjdk.tests.java.util.stream.GroupByOpTest" />
      <class name="org.openjdk.tests.java.util.stream.SequentialOpTest" />
      <class name="org.openjdk.tests.java.util.stream.SummaryStatisticsTest" />
      <class name="org.openjdk.tests.java.util.stream.StreamBuilderTest" />
      <class name="org.openjdk.tests.java.util.stream.CollectionAndMapModifyStreamTest" />
      <class name="org.openjdk.tests.java.util.stream.CountLargeTest" />
      <class name="org.openjdk.tests.java.util.stream.StreamCloseTest" />
      <class name="org.openjdk.tests.java.util.stream.MinMaxTest" />
      <class name="org.openjdk.tests.java.util.stream.StreamLinkTest" />
      <class name="org.openjdk.tests.java.util.stream.ForEachOpTest" />
      <class name="org.openjdk.tests.java.util.stream.CountTest" />
      <class name="org.openjdk.tests.java.util.stream.ConcatTest" />
      <class name="org.openjdk.tests.java.util.stream.ReduceTest" />
      <class name="org.openjdk.tests.java.util.stream.DoublePrimitiveOpsTests" />
      <class name="org.openjdk.tests.java.util.stream.IntUniqOpTest" />
      <class name="org.openjdk.tests.java.util.stream.SpliteratorTest" />
      <class name="org.openjdk.tests.java.util.stream.ReduceByOpTest" />
      <class name="org.openjdk.tests.java.util.stream.FindFirstOpTest" />
      <class name="org.openjdk.tests.java.util.stream.SortedOpTest" />
      <class name="org.openjdk.tests.java.util.stream.ToArrayOpTest" />
      <class name="org.openjdk.tests.java.util.stream.TeeOpTest" />
      <class name="org.openjdk.tests.java.util.stream.IntPrimitiveOpsTests" />
      <class name="org.openjdk.tests.java.util.stream.LongPrimitiveOpsTests" />
      <class name="org.openjdk.tests.java.util.stream.SliceOpTest" />
      <class name="org.openjdk.tests.java.util.stream.InfiniteStreamWithLimitOpTest" />
      <class name="org.openjdk.tests.java.util.stream.DistinctOpTest" />
      <class name="org.openjdk.tests.java.util.stream.ConcatOpTest" />
      <class name="org.openjdk.tests.java.util.stream.TabulatorsTest" />
      <class name="org.openjdk.tests.java.util.stream.StreamParSeqTest" />
      <class name="org.openjdk.tests.java.util.stream.FindAnyOpTest" />
      <class name="org.openjdk.tests.java.util.stream.PrimitiveAverageOpTest" />
      <class name="org.openjdk.tests.java.util.stream.IntReduceTest" />
      <class name="org.openjdk.tests.java.util.stream.FilterOpTest" />
      <class name="org.openjdk.tests.java.util.stream.IntSliceOpTest" />
      <class name="org.openjdk.tests.java.util.stream.StreamSpliteratorTest" />
      <class name="org.openjdk.tests.java.util.stream.RangeTest" />
      <class name="org.openjdk.tests.java.util.stream.MatchOpTest" />
      <class name="org.openjdk.tests.java.util.stream.ExplodeOpTest" />
      <class name="org.openjdk.tests.java.util.stream.MapOpTest" />
      <class name="org.openjdk.tests.java.util.stream.PrimitiveSumTest" />
      <class name="java.util.stream.SpinedBufferTest" />
      <class name="java.util.stream.NodeTest" />
      <class name="java.util.stream.FlagOpTest" />
      <class name="java.util.stream.SliceSpliteratorTest" />
      <class name="java.util.stream.LongNodeTest" />
      <class name="java.util.stream.StreamFlagsTest" />
      <class name="java.util.stream.StreamReuseTest" />
      <class name="java.util.stream.DoubleNodeTest" />
      <class name="java.util.stream.NodeBuilderTest" />
      <class name="java.util.stream.IntNodeTest" />
      <class name="java.util.stream.StreamOpFlagsTest" />
    </classes>
  </test>

  <test name="java.time test">
    <classes>
     <class name="tck.java.time.AbstractDateTimeTest" />
     <class name="tck.java.time.AbstractTCKTest" />
     <class name="tck.java.time.chrono.CopticChronology" />
     <class name="tck.java.time.chrono.CopticDate" />
     <class name="tck.java.time.chrono.CopticEra" />
     <class name="tck.java.time.chrono.serial.TCKChronoLocalDateSerialization" />
     <class name="tck.java.time.chrono.serial.TCKChronoLocalDateTimeSerialization" />
     <class name="tck.java.time.chrono.serial.TCKChronologySerialization" />
     <class name="tck.java.time.chrono.serial.TCKChronoZonedDateTimeSerialization" />
     <class name="tck.java.time.chrono.serial.TCKCopticSerialization" />
     <class name="tck.java.time.chrono.serial.TCKEraSerialization" />
     <class name="tck.java.time.chrono.TCKChronoLocalDate" />
     <class name="tck.java.time.chrono.TCKChronoLocalDateTime" />
     <class name="tck.java.time.chrono.TCKChronology" />
     <class name="tck.java.time.chrono.TCKChronoPeriod" />
     <class name="tck.java.time.chrono.TCKChronoZonedDateTime" />
     <class name="tck.java.time.chrono.TCKHijrahChronology" />
     <class name="tck.java.time.chrono.TCKHijrahEra" />
     <class name="tck.java.time.chrono.TCKIsoChronology" />
     <class name="tck.java.time.chrono.TCKIsoEra" />
     <class name="tck.java.time.chrono.TCKJapaneseChronology" />
     <class name="tck.java.time.chrono.TCKJapaneseEra" />
     <class name="tck.java.time.chrono.TCKMinguoChronology" />
     <class name="tck.java.time.chrono.TCKMinguoEra" />
     <class name="tck.java.time.chrono.TCKTestServiceLoader" />
     <class name="tck.java.time.chrono.TCKThaiBuddhistChronology" />
     <class name="tck.java.time.chrono.TCKThaiBuddhistEra" />
     <class name="tck.java.time.format.TCKChronoPrinterParser" />
     <class name="tck.java.time.format.TCKDateTimeFormatter" />
     <class name="tck.java.time.format.TCKDateTimeFormatterBuilder" />
     <class name="tck.java.time.format.TCKDateTimeFormatters" />
     <class name="tck.java.time.format.TCKDateTimeParseResolver" />
     <class name="tck.java.time.format.TCKDateTimeTextPrinting" />
     <class name="tck.java.time.format.TCKFormatStyle" />
     <class name="tck.java.time.format.TCKInstantPrinterParser" />
     <class name="tck.java.time.format.TCKLocalizedFieldParser" />
     <class name="tck.java.time.format.TCKLocalizedFieldPrinter" />
     <class name="tck.java.time.format.TCKLocalizedPrinterParser" />
     <class name="tck.java.time.format.TCKOffsetPrinterParser" />
     <class name="tck.java.time.format.TCKPadPrinterParser" />
     <class name="tck.java.time.format.TCKResolverStyle" />
     <class name="tck.java.time.format.TCKSignStyle" />
     <class name="tck.java.time.format.TCKTextStyle" />
     <class name="tck.java.time.format.TCKZoneIdPrinterParser" />
     <class name="tck.java.time.MockSimplePeriod" />
     <class name="tck.java.time.serial.TCKClockSerialization" />
     <class name="tck.java.time.serial.TCKDurationSerialization" />
     <class name="tck.java.time.serial.TCKInstantSerialization" />
     <class name="tck.java.time.serial.TCKLocalDateSerialization" />
     <class name="tck.java.time.serial.TCKLocalDateTimeSerialization" />
     <class name="tck.java.time.serial.TCKLocalTimeSerialization" />
     <class name="tck.java.time.serial.TCKMonthDaySerialization" />
     <class name="tck.java.time.serial.TCKOffsetDateTimeSerialization" />
     <class name="tck.java.time.serial.TCKOffsetTimeSerialization" />
     <class name="tck.java.time.serial.TCKPeriodSerialization" />
     <class name="tck.java.time.serial.TCKYearMonthSerialization" />
     <class name="tck.java.time.serial.TCKYearSerialization" />
     <class name="tck.java.time.serial.TCKZonedDateTimeSerialization" />
     <class name="tck.java.time.serial.TCKZoneIdSerialization" />
     <class name="tck.java.time.serial.TCKZoneOffsetSerialization" />
     <class name="tck.java.time.TCKClock" />
     <class name="tck.java.time.TCKClock_Fixed" />
     <class name="tck.java.time.TCKClock_Offset" />
     <class name="tck.java.time.TCKClock_System" />
     <class name="tck.java.time.TCKClock_Tick" />
     <class name="tck.java.time.TCKDayOfWeek" />
     <class name="tck.java.time.TCKDuration" />
     <class name="tck.java.time.TCKInstant" />
     <class name="tck.java.time.TCKLocalDate" />
     <class name="tck.java.time.TCKLocalDateTime" />
     <class name="tck.java.time.TCKLocalTime" />
     <class name="tck.java.time.TCKMonth" />
     <class name="tck.java.time.TCKMonthDay" />
     <class name="tck.java.time.TCKOffsetDateTime" />
     <class name="tck.java.time.TCKOffsetTime" />
     <class name="tck.java.time.TCKPeriod" />
     <class name="tck.java.time.TCKYear" />
     <class name="tck.java.time.TCKYearMonth" />
     <class name="tck.java.time.TCKZonedDateTime" />
     <class name="tck.java.time.TCKZoneId" />
     <class name="tck.java.time.TCKZoneOffset" />
     <class name="tck.java.time.temporal.serial.TCKChronoFieldSerialization" />
     <class name="tck.java.time.temporal.serial.TCKChronoUnitSerialization" />
     <class name="tck.java.time.temporal.serial.TCKJulianFieldsSerialization" />
     <class name="tck.java.time.temporal.serial.TCKValueRangeSerialization" />
     <class name="tck.java.time.temporal.serial.TCKWeekFieldsSerialization" />
     <class name="tck.java.time.temporal.TCKChronoField" />
     <class name="tck.java.time.temporal.TCKChronoUnit" />
     <class name="tck.java.time.temporal.TCKIsoFields" />
     <class name="tck.java.time.temporal.TCKJulianFields" />
     <class name="tck.java.time.temporal.TCKTemporalAdjusters" />
     <class name="tck.java.time.temporal.TCKWeekFields" />
     <class name="tck.java.time.TestIsoChronology" />
     <class name="tck.java.time.zone.serial.TCKFixedZoneRulesSerialization" />
     <class name="tck.java.time.zone.serial.TCKZoneOffsetTransitionRuleSerialization" />
     <class name="tck.java.time.zone.serial.TCKZoneOffsetTransitionSerialization" />
     <class name="tck.java.time.zone.serial.TCKZoneRulesSerialization" />
     <class name="tck.java.time.zone.TCKFixedZoneRules" />
     <class name="tck.java.time.zone.TCKZoneOffsetTransition" />
     <class name="tck.java.time.zone.TCKZoneOffsetTransitionRule" />
     <class name="tck.java.time.zone.TCKZoneRules" />
     <class name="tck.java.time.zone.TCKZoneRulesProvider" />
     <class name="test.java.time.AbstractTest" />
     <class name="test.java.time.chrono.TestChronoLocalDate" />
     <class name="test.java.time.chrono.TestChronologyPerf" />
     <class name="test.java.time.chrono.TestIsoChronoImpl" />
     <class name="test.java.time.chrono.TestJapaneseChronoImpl" />
     <class name="test.java.time.chrono.TestJapaneseChronology" />
     <class name="test.java.time.chrono.TestServiceLoader" />
     <class name="test.java.time.chrono.TestThaiBuddhistChronoImpl" />
     <class name="test.java.time.chrono.TestUmmAlQuraChronology" />
     <class name="test.java.time.format.AbstractTestPrinterParser" />
     <class name="test.java.time.format.MockIOExceptionAppendable" />
     <class name="test.java.time.format.TestCharLiteralParser" />
     <class name="test.java.time.format.TestCharLiteralPrinter" />
     <class name="test.java.time.format.TestDateTimeFormatter" />
     <class name="test.java.time.format.TestDateTimeFormatterBuilder" />
     <class name="test.java.time.format.TestDateTimeParsing" />
     <class name="test.java.time.format.TestDateTimeTextProvider" />
     <class name="test.java.time.format.TestDecimalStyle" />
     <class name="test.java.time.format.TestFractionPrinterParser" />
     <class name="test.java.time.format.TestNonIsoFormatter" />
     <class name="test.java.time.format.TestNumberParser" />
     <class name="test.java.time.format.TestNumberPrinter" />
     <class name="test.java.time.format.TestPadPrinterDecorator" />
     <class name="test.java.time.format.TestReducedParser" />
     <class name="test.java.time.format.TestReducedPrinter" />
     <class name="test.java.time.format.TestSettingsParser" />
     <class name="test.java.time.format.TestStringLiteralParser" />
     <class name="test.java.time.format.TestStringLiteralPrinter" />
     <class name="test.java.time.format.TestTextParser" />
     <class name="test.java.time.format.TestTextPrinter" />
     <class name="test.java.time.format.TestZoneOffsetParser" />
     <class name="test.java.time.format.TestZoneOffsetPrinter" />
     <class name="test.java.time.format.TestZoneTextPrinterParser" />
     <class name="test.java.time.format.ZoneName" />
     <class name="test.java.time.MockSimplePeriod" />
     <class name="test.java.time.temporal.MockFieldNoValue" />
     <class name="test.java.time.temporal.MockFieldValue" />
     <class name="test.java.time.temporal.TestChronoField" />
     <class name="test.java.time.temporal.TestChronoUnit" />
     <class name="test.java.time.temporal.TestDateTimeBuilderCombinations" />
     <class name="test.java.time.temporal.TestDateTimeValueRange" />
     <class name="test.java.time.temporal.TestIsoWeekFields" />
     <class name="test.java.time.temporal.TestJulianFields" />
     <class name="test.java.time.TestClock_Fixed" />
     <class name="test.java.time.TestClock_Offset" />
     <class name="test.java.time.TestClock_System" />
     <class name="test.java.time.TestClock_Tick" />
     <class name="test.java.time.TestDuration" />
     <class name="test.java.time.TestInstant" />
     <class name="test.java.time.TestLocalDate" />
     <class name="test.java.time.TestLocalDateTime" />
     <class name="test.java.time.TestLocalTime" />
     <class name="test.java.time.TestMonthDay" />
     <class name="test.java.time.TestOffsetDateTime" />
     <class name="test.java.time.TestOffsetDateTime_instants" />
     <class name="test.java.time.TestOffsetTime" />
     <class name="test.java.time.TestPeriod" />
     <class name="test.java.time.TestYear" />
     <class name="test.java.time.TestYearMonth" />
     <class name="test.java.time.TestZonedDateTime" />
     <class name="test.java.time.TestZoneId" />
     <class name="test.java.time.TestZoneOffset" />
     <class name="test.java.time.zone.TestFixedZoneRules" />
    </classes>
  </test>

</suite>
